<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand">Brand</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a [routerLink]="['/signup']" class="nav-item nav-link active">Home</a>
        <a [routerLink]="['/fixtures']" class="nav-item nav-link">Fixtures</a>
      </div>
      <div class="navbar-nav ml-auto">
        <a [routerLink]="['/signup']" class="nav-item nav-link">Signup</a>
      </div>
    </div>
  </nav>
</div>
